<div id="User"></div>
<p>Partner: {{ partner.partnerId }}</p>
<p>Location: <span id="Location"></span></p>
<p>Has All-In Pricing: <span id="HasAllInPricing"></span></p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script>
    const API_URL = 'http://localhost:4545';
    const PARTNER_ID = '{{ partner.partnerId }}';

    const urlParams = new URLSearchParams(window.location.search);
    const ssoAuthToken = urlParams.get('token');

    const $location = document.getElementById('Location');
    const $hasAllInPricing = document.getElementById('HasAllInPricing');
    const $user = document.getElementById('User');

    axios
        .post(`${API_URL}/v2/sso/auth/${PARTNER_ID.toLowerCase()}`, {}, {
            headers: {
                Authorization: `Bearer ${ssoAuthToken}`,
                'X-PARTNER-ID': PARTNER_ID
            }
        })
        .then(response => {
            const account = response.data.account;
            $user.innerHTML = `<p>Hello, ${account.first_name}</p>`;
        })
        .catch(err => {
            console.error(err);
            window.location.href = '/unauthorized';
        })
        .then(() => {
            return axios.get(`${API_URL}/v2/locations`, {
                headers: {
                    'X-PARTNER-ID': PARTNER_ID
                },
                timeout: 3000
            })
        })
        .then(response => {
            const location = response.data.location;
            const hasAllInPricing = {{ partner.hasDefaultAllInPricing }} && ['on', 'qc'].indexOf(location.subdivision_code.toLowerCase()) > -1;
            
            $location.innerHTML = `${location.city}, ${location.subdivision_code}`;
            $hasAllInPricing.innerHTML = hasAllInPricing ? 'Yes' : 'No';
        })
        .catch(err => {
            if (err.code === 'ECONNABORTED') {
                $location.innerHTML = $hasAllInPricing.innerHTML = 'Timedout';
            }
            // TODO: Handle error.
            console.error(err);
        });
</script>
